.container {
    max-width: 1120px;
    margin: 6rem auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    h2 {
        font-size: 2.8rem;
        line-height: 4.5rem;
        font-weight: 900;
        color: #fff;

        span {
            font-size: 2.8rem;
            color: #1fa4e5;
            font-weight: 900;
            line-height: 4.5rem;
        }
    }

    span {
        font-size: 1rem;
        line-height: 2.25rem;
        color: #fff;
    }

    button {
        background-color: #1fa4e5;
        color: #fff;
        border: 0;
        border-radius: 4px;
        padding: 1rem 1.8rem;
        font-weight: bold;
        margin-top: 2.5rem;
    }

}


@media (max-width:1090px){
    .container{
    padding: 0 2rem;

    }

}

@media (max-width:800px){
    .container {
        h2 {
        font-size: 1.8rem;
        span {
            font-size: 2.0rem;
    
            }
        }

        button {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            }
    
    }
    
}